.film-card {
  cursor: pointer;
  height: auto;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
h3{
    color: #9df4f9;
    font-weight: 550;
}