<div class="toolbar">
    <button mat-stroked-button (click)="viewMode='cards'">Cards</button>
    <button mat-stroked-button (click)="viewMode='table'">Taula</button>
</div>

@if (loading) {
<div class="center">
    <mat-spinner></mat-spinner>
</div>
} @else {
@if (!loading && viewMode === 'cards') {
<div class="cards" @listEnter>
    @for (film of films; track film.id) {
    <div class="anim-item">
        <app-film-card [film]="film"></app-film-card>
    </div>

    }
</div>
} @else {
<div class="anim-item">
    <app-film-grid [films]="films"></app-film-grid>
</div>

}
}